# Editor configuration, see http://editorconfig.org
root = true

# Default to 4-space indents with space characters, NOT tabs
# http://tarantsov.com/hackers-coding-style-guide/why-tabs-should-be-avoided.html
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
tab_width = 4

# CSS and similar files (especially scss) are often deeply indented, so smaller indents are nice
[*.{css,scss,less}]
tab_width = 2
indent_size = 2
continuation_indent_size = 2
quote_type = single

# JSON is often deeply indented, so smaller indents are nice
[*.json]
indent_size = 2
continuation_indent_size = 8

# Markdown can have long lines, and trailing whitespaces are significant (two trailing spaces = <br/>)
[*.md]
max_line_length = off
trim_trailing_whitespace = false
