group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget Saturn
    nuget Thoth.Json.Giraffe
    nuget SQLProvider
    nuget MongoDB.Driver ~> 2
    nuget MongoDB.Bson ~> 2
    // Our custom-built MongoDB.FSharp package isn't yet on NuGet, so get it locally
    source ../../MongoDB.FSharp/dist
    nuget MongoDB.FSharp 0.1.1

group Sql
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: packages
    nuget MySqlConnector
    // MySqlConnector needs explicit transitive dependencies since it's loaded at runtime via reflection
    nuget System.Buffers
    nuget System.Runtime.InteropServices.RuntimeInformation
    nuget System.Threading.Tasks.Extensions
    nuget System.Memory
    nuget System.Runtime.CompilerServices.Unsafe

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Thoth.Fetch ~> 1
    nuget Thoth.Elmish.Toast ~> 2
    nuget Fable.React ~> 6 prerelease
    nuget Fulma ~> 2
    nuget Fable.FontAwesome.Free ~> 2

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem

