<div class="app-root">
  <mdc-top-app-bar dense [scrollTarget]="fixedContent">
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start" title="LD Admin" style="flex: 0 1 auto">
        <button mdcTopAppBarNavIcon>
          <mdc-icon>menu</mdc-icon>
        </button>
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="start">
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/admin/users'"> Users (WIP) </a>
          <a mat-button [routerLink]="'/admin/users/rhood'"> Single User (demo) </a>
          <a mat-button [routerLink]="'/admin/projects'"> Projects (WIP) </a>
          <a mat-button [routerLink]="'/admin/projects/tha-food'"> Single Project (demo) </a>
        </div>
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="end">
        <app-login></app-login>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>
  <div #fixedContent mdcTopAppBarFixedAdjust>
    <div class="buttons">
      <button mat-button (click)="users()">Users</button>
      <button mat-button (click)="projects()">Projects</button>
      <button mat-button (click)="roles()">Roles</button>
      <button mat-button (click)="createUser()">Create User</button>
      <button mat-button (click)="editUser()">Edit User</button>
      <button mat-button (click)="editUserSample()">Sample Edit</button>
      <button mat-button (click)="projectExists()">Project that exists</button>
      <button mat-button (click)="projectDoesNotExist()">Project that does NOT exist</button>
      <button mat-button (click)="getProject()">Get Project</button>
    </div>

    <app-data-table [dataSource]="dataSource"
                    [columns]="columns"
                    [pageSize]="3"
                    [pageSizeOptions]="[1,2,3,5,7,10]"
    ></app-data-table>

    <router-outlet></router-outlet>
  </div>
</div>
