<div class="app-root">
  <mat-toolbar class="grid-header" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
      </button>
      <h1>LD API</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/admin/users'"> Users (WIP) </a>
        <a mat-button [routerLink]="'/admin/users/rhood'"> Single User (demo) </a>
        <a mat-button [routerLink]="'/admin/projects'"> Projects (WIP) </a>
        <a mat-button [routerLink]="'/admin/projects/tha-food'"> Single Project (demo) </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="grid-nav">
    <ul>
      <li>One</li>
      <li>Two</li>
    </ul>
  </div>
  <div class="grid-content">
    <div class="buttons">
      <button mat-button (click)="users()">Users</button>
      <button mat-button (click)="projects()">Projects</button>
      <button mat-button (click)="roles()">Roles</button>
    </div>

    <app-data-table [dataSource]="dataSource"
                    [columns]="columns"
                    [pageSize]="3"
                    [pageSizeOptions]="[1,2,3,5,7,10]"
    ></app-data-table>

    <router-outlet></router-outlet>
  </div>
</div>
