<div class="app-root">
  <mat-toolbar class="grid-header" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
      </button>
      <h1>LD API</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/users'"> Users </a>
        <a mat-button [routerLink]="'/create-user'"> Create User </a>
        <a mat-button [routerLink]="'/projects'"> Projects </a>
        <a mat-button [routerLink]="'/create-project'"> Create Project </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="grid-nav">
    <ul>
      <li>One</li>
      <li>Two</li>
    </ul>
  </div>
  <div class="grid-content">
    <div class="buttons">
      <button mat-button (click)="users()">Users</button>
      <button mat-button (click)="projects()">Projects</button>
      <button mat-button (click)="roles()">Roles</button>
    </div>

    <ng-container [ngSwitch]="active">
      <app-data-table *ngSwitchCase="'Users'"
                      [dataSource]="dataSource"
                      [columns]="{
                        firstName: 'First Name',
                        lastName: 'Last Name',
                        email: 'Email',
                        username: 'Username',
                        language: 'Lang Tag'
                      }"
                      [pageSize]="3"
                      [pageSizeOptions]="[1,2,3,5,7,10]"
      ></app-data-table>

      <app-data-table *ngSwitchCase="'Projects'"
                      [dataSource]="dataSource"
                      [columns]="{
                        code: 'Project Code',
                        description: 'Description',
                        name: 'Project Name'
                      }"
                      [pageSize]="3"
                      [pageSizeOptions]="[1,2,3,5,7,10]"
      ></app-data-table>

      <app-data-table *ngSwitchCase="'Roles'"
                      [dataSource]="dataSource"
                      [columns]="['Num','Role']"
                      [pageSize]="3"
                      [pageSizeOptions]="[1,2,3,5,7,10]"
      ></app-data-table>
    </ng-container>
  </div>



  <router-outlet></router-outlet>
</div>
