[Unit]
Description=LanguageDepot API server

[Service]
WorkingDirectory={{ server_dest }}/Server
ExecStart={{ server_dest }}/Server/Server
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=vagrant
Environment=ASPNETCORE_ENVIRONMENT={{ aspnet_environment | default("Production") }}

[Install]
WantedBy=multi-user.target
