<h2>Single-user view</h2>
<div>
  Username: {{(user | async)?.username}} <br/>
  <!-- Note that if we do .username instead of ?.username, we get a TypeError because (user | async)
       is null at one point before it gets filled in by the returned value from the API call. -->
  Name: {{(user | async)?.firstName}} {{(user | async)?.lastName}} <br/>
  Email: {{(user | async)?.email}} <br/>
  <!-- Note that this is the wrong approach when this.user is an Observable<User>, since it fires
       off a new HTTP API request every time we do (user | async) in a different location. But now
       that this.user is a Subject, this works and only fires off an API request once. Or else we
       could use the approach from single-project.component.ts, where we have a subscription to the
       projects.getProject() result that puts its result into `this.project`. There these asyncs
       are not necessary, and we still only subscribe to the Observable once. -->
  Project search: <app-typeahead (foundData)="foundProjects($event)" [getData]="searchProjects.bind(this)"></app-typeahead>
</div>
<div *ngIf="projects">
  <ul>
    <li *ngFor="let project of projects">{{project.code}}: {{project.name}}</li>
  </ul>
</div>
