<form #changePasswordForm [formGroup]="formControl">
  <label *ngIf="showOldPasswordField" for="oldPassword">Old password
    <input #oldPassword *ngIf="showOldPasswordField" type="password" formControlName="oldPasswordControl">
  </label>
  <br/> <!-- TODO: CSS for form layout -->
  <label for="newPassword">New password
    <input #newPassword type="password" formControlName="newPasswordControl">
  </label>
  <br/> <!-- TODO: CSS for form layout -->
  <label for="confirmNewPassword">Confirm new password
    <input #confirmNewPassword type="password" formControlName="confirmNewPasswordControl">
  </label>
  <br/> <!-- TODO: CSS for form layout -->
  <button type="submit" [disabled]="!changePasswordForm.valid">Change password</button>
  <button type="reset" [disabled]="!changePasswordForm.touched">Reset</button>
</form>
<div *ngIf="changePasswordForm.errors?.confirmMismatch && (changePasswordForm.touched || changePasswordForm.dirty)">
  "New password" and "Confirm new password" inputs must match
</div>
