<div id="loginDiv">
  <div *ngIf="userProfile$ | async as profile; else loginBtn">
    <div #loginMenu mdcMenuSurfaceAnchor>
      <a (click)="toggleMenu()">
        <img [src]="profile.picture" height="32" width="32" /><mdc-icon>{{menuIcon}}</mdc-icon>
      </a>
      <mdc-menu [anchorElement]="loginMenu"
                [anchorCorner]="bottomStart"
                [anchorMargin]="{top: 32}"
                [open]="menuOpen">  <!-- TODO: Why is the anchorMargin necessary here? -->
        <mdc-list>
          <mdc-list-item>
            {{profile.name}}
          </mdc-list-item>
          <mdc-list-item>
            {{profile.email}}
          </mdc-list-item>
          <mdc-list-item>
            <button mat-button (click)="logout()">Logout</button>
          </mdc-list-item>
        </mdc-list>
      </mdc-menu>
    </div>
  </div>
  <ng-template #loginBtn>
    <button mat-button (click)="login()">Login</button>
  </ng-template>
</div>
